.title {
  background-color: black;
  color: green;
  text-align: center;
  text-transform: uppercase;
  font-size: 3em;
  font-weight: bold;
}

.hide {
  display: none;
}

#gift-box {
  font-size: 5em;
}

body {
  display: flex;
  justify-content: center;
  align-items: start;
  height: 100vh;
}
#color-picker {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  background-color: blue;
}
.hide {
  display: none;
}

#gift-box {
  font-size: 5em;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100vh;
}
#color-picker {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#word-count-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}